version: "3.9"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DB_NAME=test_db
      - DB_USER=dbuser
      - DB_PASS=dbpass
      - DB_HOST=db
      - DB_PORT=5432
      - SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
    
    volumes:
      - ./app:/app/app

    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: dbpass
      POSTGRES_DB: test_db
    ports:
      - "15432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "dbuser", "-d", "test_db", "-h", "localhost", "-p", "5432"]
      interval: 10s
      retries: 5
      timeout: 5s
      start_period: 30s